body {
	background-image: url("../images/brickwall.png");
}

img.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

.nav-bar {
width: 800px;
background-color: #FF6EC7;
margin: 10px auto;
}
 
.nav-bar a {
  text-decoration: none;
  color: #545454;
  border-bottom: 5px solid #888;
  
  font-size: 20px;
}
 
.nav-bar a:hover {
  background-color: #dddddd;
}
 
.nav-bar a.active {
  background-color: #fff;
  color: #444;
  cursor: default;
}

.slide-viewer {
  position: relative;
  overflow: hidden;
  height: 300px;
  
}

.slide-group{ 
  width: 100%;
  height: 100%;
  position: relative;
}

.slide {
  width: 100%;
  height: 100%;
  position: absolute;
}

.slide: first-child {
display: block;
}